// Add Font
@font-face {
    font-family: "THSarabunNew";
    src: url("../fonts/THSarabunNew.ttf") format("truetype");
}

@font-face {
    font-family: "AngsanaNew";
    src: url("../fonts/AngsanaNew.ttf") format("truetype");
}
