// Add Font
@font-face {
    font-family: "THSrisakdi";
    src: url("../fonts/THSrisakdi.ttf") format("truetype");
}

@font-face {
    font-family: "THSarabunNew";
    src: url("../fonts/THSarabunNew.ttf") format("truetype");
}

@font-face {
    font-family: "THSarabun";
    src: url("../fonts/THSarabun.ttf") format("truetype");
}

@font-face {
    font-family: "THNiramitAS";
    src: url("../fonts/THNiramitAS.ttf") format("truetype");
}

@font-face {
    font-family: "THMaliGrade6";
    src: url("../fonts/THMaliGrade6.ttf") format("truetype");
}

@font-face {
    font-family: "THKrub";
    src: url("../fonts/THKrub.ttf") format("truetype");
}

@font-face {
    font-family: "THKoHo";
    src: url("../fonts/THKoHo.ttf") format("truetype");
}

@font-face {
    font-family: "THKodchasal";
    src: url("../fonts/THKodchasal.ttf") format("truetype");
}

@font-face {
    font-family: "THK2DJuly8";
    src: url("../fonts/THK2DJuly8.ttf") format("truetype");
}

@font-face {
    font-family: "THFahkwang";
    src: url("../fonts/THFahkwang.ttf") format("truetype");
}

@font-face {
    font-family: "THCharmonman";
    src: url("../fonts/THCharmonman.ttf") format("truetype");
}

@font-face {
    font-family: "THCharmofAU";
    src: url("../fonts/THCharmofAU.ttf") format("truetype");
}

@font-face {
    font-family: "THChakraPetch";
    src: url("../fonts/THChakraPetch.ttf") format("truetype");
}

@font-face {
    font-family: "THBaijam";
    src: url("../fonts/THBaijam.ttf") format("truetype");
}

@font-face {
    font-family: "AngsanaNew";
    src: url("../fonts/AngsanaNew.ttf") format("truetype");
}

@font-face {
    font-family: "Webdings";
    src: url("../fonts/Webdings.ttf") format("truetype");
}
