.l10n_th_multicurrency_revaluation body,
.l10n_th_multicurrency_revaluation table,
.l10n_th_multicurrency_revaluation td,
.l10n_th_multicurrency_revaluation span,
.l10n_th_multicurrency_revaluation div {
    font-family: Helvetica, Arial;
}
.l10n_th_multicurrency_revaluation .act_as_table {
    display: table;
}
.l10n_th_multicurrency_revaluation .act_as_row {
    display: table-row;
}
.l10n_th_multicurrency_revaluation .act_as_cell {
    display: table-cell;
}
.l10n_th_multicurrency_revaluation .act_as_thead {
    display: table-header-group;
}
.l10n_th_multicurrency_revaluation .act_as_tbody {
    display: table-row-group;
}
.l10n_th_multicurrency_revaluation .act_as_tfoot {
    display: table-footer-group;
}
.l10n_th_multicurrency_revaluation .act_as_caption {
    display: table-caption;
}
.l10n_th_multicurrency_revaluation .act_as_colgroup {
    display: table-column-group;
}
.l10n_th_multicurrency_revaluation .list_table,
.l10n_th_multicurrency_revaluation .data_table {
    width: 850px;
    table-layout: fixed;
}
.l10n_th_multicurrency_revaluation .bg,
.l10n_th_multicurrency_revaluation .act_as_row.labels {
    background-color: #f0f0f0;
}
.l10n_th_multicurrency_revaluation .list_table,
.l10n_th_multicurrency_revaluation .data_table,
.l10n_th_multicurrency_revaluation .list_table .act_as_row {
    border-left: 0px;
    border-right: 0px;
    text-align: left;
    font-size: 12px;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-collapse: collapse;
}
.l10n_th_multicurrency_revaluation .list_table .act_as_row.labels,
.l10n_th_multicurrency_revaluation .list_table .act_as_row.initial_balance,
.l10n_th_multicurrency_revaluation .list_table .act_as_row.lines {
    border-color: gray;
    border-bottom: 1px solid lightGrey;
}
.l10n_th_multicurrency_revaluation .data_table .act_as_cell {
    border: 1px solid lightGrey;
    text-align: center;
}
.l10n_th_multicurrency_revaluation .data_table .act_as_cell,
.l10n_th_multicurrency_revaluation .list_table .act_as_cell {
    word-wrap: break-word;
}
.l10n_th_multicurrency_revaluation .data_table .act_as_row.labels {
    font-weight: bold;
}
.l10n_th_multicurrency_revaluation .initial_balance .act_as_cell {
    font-style: italic;
}
.l10n_th_multicurrency_revaluation .account_title {
    font-size: 10px;
    font-weight: bold;
    page-break-after: avoid;
}
.l10n_th_multicurrency_revaluation .act_as_cell.amount {
    word-wrap: normal;
    text-align: right;
}
.l10n_th_multicurrency_revaluation .list_table .act_as_cell {
    padding-left: 5px;
    /*    border-right:1px solid lightGrey;  uncomment to active column lines */
}
.l10n_th_multicurrency_revaluation .list_table .act_as_cell.first_column {
    padding-left: 0px;
    /*    border-left:1px solid lightGrey; uncomment to active column lines */
}
.l10n_th_multicurrency_revaluation .sep_left {
    border-left: 1px solid lightGrey;
}
.l10n_th_multicurrency_revaluation .account_level_1 {
    text-transform: uppercase;
    /*font-weight: bold;*/
    font-size: 15px;
    background-color: #f0f0f0;
}
/*
.account_level_1 .act_as_cell {
    height: 30px;
    vertical-align: bottom;
}
*/
.l10n_th_multicurrency_revaluation .account_level_2 {
    /*text-transform: uppercase;
    font-weight: bold;*/
    font-size: 12px;
    background-color: #f0f0f0;
}
/*
.account_level_2 .act_as_cell {
    height: 20px;
    vertical-align: bottom;
}
.account_level_3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    background-color:#FAFAFA;
}
.account_level_4 {
    font-weight: bold;
    font-size: 11px;
}
*/
.l10n_th_multicurrency_revaluation .account_level_5 {
}
.l10n_th_multicurrency_revaluation .regular_account_type {
    font-weight: normal;
}
.l10n_th_multicurrency_revaluation .view_account_type {
    font-weight: bold;
}
.l10n_th_multicurrency_revaluation .account_level_consol {
    font-weight: normal;
    font-style: italic;
}
.l10n_th_multicurrency_revaluation .overflow_ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
