@font-face {
    font-family: "IBM Plex Sans Thai Looped";
    src: url("../../fonts/IBMPlexSansThaiLooped-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Kanit";
    src: url("../../fonts/Kanit-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Sarabun";
    src: url("../../fonts/Sarabun-Regular.ttf") format("truetype");
}
