.act_as_table {
    display: table !important;
    background-color: white;
}
.act_as_row {
    display: table-row !important;
    page-break-inside: avoid;
}
.act_as_cell {
    display: table-cell !important;
    page-break-inside: avoid;
}
.act_as_thead {
    display: table-header-group !important;
}
.data_table,
.totals_table {
    width: 100% !important;
}
.act_as_row.labels {
    background-color: #f0f0f0 !important;
}
.data_table,
.totals_table,
.act_as_row {
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    font-size: 10px;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-collapse: collapse;
}
.totals_table {
    font-weight: bold;
    text-align: center;
}
.data_table .act_as_cell {
    border: 1px solid lightGrey;
    text-align: center;
}
.data_table .act_as_cell,
.totals_table .act_as_cell {
    word-wrap: break-word;
}
.data_table .act_as_row.labels,
.totals_table .act_as_row.labels {
    font-weight: bold;
}
.act_as_cell.amount {
    word-wrap: normal;
    text-align: right;
}
.act_as_cell.left {
    text-align: left;
}
.custom_footer {
    font-size: 7px !important;
}
.button_row {
    padding-bottom: 10px;
}
.o_l10n_th_tax_report_page {
    padding-top: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica, Arial;
}
